@CHARSET "ISO-8859-1";
.divBorder {
    border: 1px solid red;
    border-radius: 5px;
    width:400px;
}
.divTitle{
	background: rgba(173, 33, 64, 0.24);
}
div{
	overflow:hidden;
}

.no_image{
	width: 100px;
	height: 100px;
}

input#remove {
	background: url(../img/remove.png);
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	border: 0;
}

.center {
    margin: auto;
    width: 30%;
    padding: 10px;
}

#primary_nav_wrap
{
	/* margin-top:15px; */
	float:left;
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd
}

#primary_nav_wrap ul li:hover
{
	background:#f6f6f6
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}

#supplierForm input{
	width:30px;
}